main {
  margin: 0 auto;
  max-width: 1000px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  align-items: end;
  justify-items: center;
}

header,
footer {
  margin: 2rem 0 4rem 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  text-align: center;
  justify-content: center;

  margin-top: 4rem;
  padding: 2rem;
  background-color: black;
  color: whitesmoke;
}
/* Gallery Items */

figure {
  display: grid;
  height: 100%;
}
img {
  max-width: 100%;
  height: auto;
  grid-row: 1;
  grid-column: 1;
}
figcaption {
  grid-row: 1;
  grid-column: 1;
  justify-self: end;
  align-self: end;
  text-align: end;
  color: white;
  margin-right: 5px;
}
.fig-portrait {
  grid-row: span 2;
  height: 100%;
}
